<!doctype html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="utf-8">
  <meta name="keywords" content=" angeliki patrinou, web developer, full stack developer, web developer, programmatistis,
  website for professional, portfolio website, ιστοσελίδα για επαγγελματία,
  istoselida, kataskeui istoselidas, προγραμματιστής, ιστοσελίδα, κατασκευή ιστοσελίδας,
  δημιουργία ιστοσελίδας, δημιουργία e-shop ">
  <meta property="og:image" content="assets/angeliki-mik.png" />
  <meta property="og:description" content="Angeliki Patrinou | Full Stack Developer" />
  <meta property="og:url"content="http://angeliki.herokuapp.com" />
  <meta property="og:title" content="Angeliki Patrinou" />
  <link rel="stylesheet" href="stylesheet.css">
  <link rel="stylesheet" href="navigation-stylesheet.css">
  <link rel="stylesheet" href="responsive-stylesheet.css">
  <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Quattrocento" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,700" rel="stylesheet">
  <link rel="icon" type="image/png" href="assets/blackdot.png" sizes="16x16">
  <script src="https://unpkg.com/vue-i18n/dist/vue-i18n.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <title>Angeliki</title>
</head>
<style>
*{
  font-family: {{content.myFont}}
}
</style>
<main>
  <div id="header" style="background-image: url(assets/background.jpg); background-size:cover">
    <div id="navigation">
      <div class="container">
        <div class="navigationBar">
          <div class="navigationName">
            {{content.name}}
          </div>
          <div class="menuItems">
            <a class="menuItem" href="#aboutMeSection">
              {{content.about}}
            </a>
            <a class="menuItem" href="#projectsBlock">
              {{content.work}}
            </a>
            <a class="menuItem" href="#contactBlock">
              {{content.contact}}
            </a>
            <a class="menuIcon githubIcon"
            href="https://github.com/patrinoua/"
            target="_blank">
            <img src="assets/github.png" />
          </a>
          <a class="menuIcon linkedinIcon"
          href="https://www.linkedin.com/in/patrinoua/"
          target="_blank">
          <img src="assets/linkedInn.png" />
        </a>
        <div class="borderLine menuItem">
        </div>
        <a href="/" class="menuItem languageItem">EN</a> |
        <a href="gr" class="menuItem languageItem">GR</a>
        <!-- <a href="de" class="languageItem" style="color:rgba(255,255,255,0.8);"> | DE</a> -->
      </div>
    </div>
  </div>
</div>
<div id="aboutMeSection">
  <div class="container">
    <div class="slideshow_caption">
      <h2>{{content.title}}</h2>
    </div>
  </div>
</div>
</div>
<div class="aboutAngelikiBlock">
  <div class="contentTitle aboutTitle">
    {{content.about}}
  </div>
  <div class="aboutAngelikiContent">
    <div id="circle">
      <img src="assets/angeliki-mik-square.png" id="profilePic" class="aboutAngelikiPictureImg"/>
    </div>
    <div id="square" class="regularText">
      <div class="flexDirCol">
        {{content.personalDescription}}
        <div class="cvArea">
          <a href="https://www.dropbox.com/sh/3xwg2e6zvd1gwxv/AACbDtoaAVl6VvX4dqS_dL6Ca?dl=0" target="_blank">{{content.shortCv}}</a>
        </div>
<<<<<<< HEAD
        <div id="projectsBlock">
            <div class="contentTitle textContainer">
                Projects
            </div>
            {{{body}}}
        </div>
        <div id="contactBlock">
            <div class="contactForm">
                <div class="contentTitle">
                    {{content.contact}}
                </div>

                <div> patrinoua@gmail.com </div>
                <!-- <div> +49 15734558931 </div> -->
                <div class="inARow">
                    <a class="bigIcon githubIcon" href="https://github.com/patrinoua/" target="_blank">
                        <img src="assets/github.png" />
                    </a>
                    <a class="bigIcon linkedinIcon" href="https://www.linkedin.com/in/patrinoua/" target="_blank">
                        <img src="assets/linkedInn.png" />
                    </a>
                </div>
            </div>
        </div>
        <div id="footer">
            <span>© 2019 Angeliki Patrinou </span>
        </div>

        <script>
            $('.menuItem').click(function(e){
                e.preventDefault();
                let navigationTarget = '#'+e.target.href.split("#").pop();
                let navigationTargetSelector=$(navigationTarget);
                $('html, body').animate({
                    scrollTop: $(navigationTarget).offset().top
                }, "slow");
            });
        </script>

        <!-- The core Firebase JS SDK is always required and must be listed first -->
        <script src="https://www.gstatic.com/firebasejs/6.2.3/firebase-app.js"></script>

        <!-- TODO: Add SDKs for Firebase products that you want to use
             https://firebase.google.com/docs/web/setup#config-web-app -->

        <script>
          // Your web app's Firebase configuration
          var firebaseConfig = {
            apiKey: "AIzaSyCS5H4NKz6NKN5pn4S0k6iXfRUy0rJ1vYo",
            authDomain: "angeliki.firebaseapp.com",
            databaseURL: "https://angeliki.firebaseio.com",
            projectId: "angeliki",
            storageBucket: "",
            messagingSenderId: "108566255900",
            appId: "1:108566255900:web:b57f71b83e444f09"
          };
          // Initialize Firebase
          firebase.initializeApp(firebaseConfig);
        </script>
    </main>
=======
      </div>
    </div>
  </div>
</div>
<div id="projectsBlock">
  <div class="contentTitle textContainer" style="box-shadow: none">
    Projects
  </div>
  {{{body}}}
</div>
<div id="contactBlock">
  <div class="contactForm">
    <div class="contentTitle">
      {{content.contact}}
    </div>
    <div> patrinoua@gmail.com </div>
    <!-- <div> +49 15734558931 </div> -->
    <div class="inARow">
      <a class="bigIcon githubIcon" href="https://github.com/patrinoua/" target="_blank">
        <img src="assets/github.png" />
      </a>
      <a class="bigIcon linkedinIcon" href="https://www.linkedin.com/in/patrinoua/" target="_blank">
        <img src="assets/linkedInn.png" />
      </a>
    </div>
  </div>
</div>
<div id="footer">
  <span>© 2019 Angeliki Patrinou </span>
</div>
<script>
$('.menuItem').click(function(e){
  e.preventDefault();
  let navigationTarget = '#'+e.target.href.split("#").pop();
  let navigationTargetSelector=$(navigationTarget);
  $('html, body').animate({
    scrollTop: $(navigationTarget).offset().top
  }, "slow");
});
</script>
</main>
>>>>>>> f3023fda676efb5f29ce29410dc43a573ccd61c0
</html>
